    <!--2 COL BLOCKS-->
    <section class="innerWidthSchoolUniforms mt-10">

      <div class="md:p-10 flex flex-col md:flex-row gap-12">

        <!--Card 1-->
        <div class="rounded twoColCard text-center bg-white overflow-hidden p-6">
          <div class="px-6 py-4 flex flex-col items-center">

            {{ block_1_image }}
            <img width="50" height="50" src="{{ url }}" alt="">
            {{ /block_1_image }}

            <span class="font-bold mt-1 mb-4 text-mediumTitle">{{ block_1_title }}</span>
            <p class="mb-4">
              {{ block_1_subtext }}
            </p>
            <a href="{{ block_1_button_link }}"><button class="btn bg-fadeOrange">{{ block_1_button_text }}</button></a>
          </div>

        </div>

        <!--Card 2-->
        <div class="rounded twoColCard text-center bg-white overflow-hidden p-6">
          <div class="px-6 py-4 flex flex-col items-center">

            {{ block_2_image }}
            <img width="50" height="50" src="{{ url }}" alt="">
            {{ /block_2_image }}

            <span class="font-bold mt-1 mb-4 text-mediumTitle">{{ block_2_title }}</span>
            <p class="mb-4">
              {{ block_2_subtext }}
            </p>
            <a href="{{ block_2_button_link }}"><button class="btn bg-fadeOrange">{{ block_2_button_text }}</button></a>
          </div>

        </div>

      </div>

    </section>
    <!--END OF // 2 COL BLOCKS-->
