<!--3 COL BLOCKS-->
<section class="innerWidthSchoolUniforms">

  <div class="pt-16 pb-24 flex flex-col lg:flex-row gap-10">

    <!--Card 1-->
    <div class="rounded threeColCard text-center bg-white overflow-hidden p-6">
      <div class="px-6 py-4 flex flex-col items-center">


        <h3 class="mb-4 ">Contact</h3>
        <p class="mb-4">
          Call us on <a href="tel:028 3834 6209" class="text-fadeOrange">{{ company_details:phone }}</a>
        </p>

        <div class="flex gap-x-2">

          <!--FB-->
          {{ if company_details:facebook }}
          <a href="{{ company_details:facebook }}" target="_blank" class="text-fadegroup">
            <svg width="25" class="fill-current text-primary group-hover:text-fadeOrange transition" height="24"
              viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21.1509 0H4.18213C2.24377 0 0.666504 1.57727 0.666504 3.51563V20.4844C0.666504 22.4227 2.24377 24 4.18213 24H11.2603V15.5156H8.44775V11.2969H11.2603V8.4375C11.2603 6.11115 13.1526 4.21875 15.479 4.21875H19.7446V8.4375H15.479V11.2969H19.7446L19.0415 15.5156H15.479V24H21.1509C23.0892 24 24.6665 22.4227 24.6665 20.4844V3.51563C24.6665 1.57727 23.0892 0 21.1509 0Z" />
            </svg>
          </a>
          {{ /if }}

          <!--INSTA-->
          {{ if company_details:instagram }}
          <a href="{{ company_details:instagram }}" target="_blank" class="group">
            <svg width="25" class="fill-current text-primary group-hover:text-fadeOrange transition" height="24"
              viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M18.6665 0H6.6665C3.3668 0 0.666504 2.69912 0.666504 6V18C0.666504 21.2997 3.3668 24 6.6665 24H18.6665C21.9662 24 24.6665 21.2997 24.6665 18V6C24.6665 2.69912 21.9662 0 18.6665 0ZM12.6665 16.9998C9.90469 16.9998 7.66641 14.7606 7.66641 12C7.66641 9.23818 9.90469 6.9999 12.6665 6.9999C15.4271 6.9999 17.6666 9.23818 17.6666 12C17.6666 14.7606 15.4271 16.9998 12.6665 16.9998ZM19.1666 6.9999C18.3374 6.9999 17.6666 6.32818 17.6666 5.4999C17.6666 4.67162 18.3374 3.9999 19.1666 3.9999C19.9958 3.9999 20.6666 4.67162 20.6666 5.4999C20.6666 6.32818 19.9958 6.9999 19.1666 6.9999Z" />
            </svg>
          </a>
          {{ /if }}

          <!--LINKEDIN-->
          {{ if company_details:linkedin }}
          <a href="{{ company_details:linkedin }}" target="_blank" class="group">
            <svg width="25" class="fill-current text-primary group-hover:text-fadeOrange transition" height="24"
              viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M22.9356 0H2.3974C1.44141 0 0.666504 0.774902 0.666504 1.7309V22.2691C0.666504 23.2251 1.44141 24 2.3974 24H22.9356C23.8916 24 24.6665 23.2251 24.6665 22.2691V1.7309C24.6665 0.774902 23.8916 0 22.9356 0V0ZM9.17944 18.1406H6.2569V9.34808H9.17944V18.1406ZM7.71826 8.14746H7.69922C6.71851 8.14746 6.08423 7.47235 6.08423 6.6286C6.08423 5.76581 6.73792 5.10938 7.73767 5.10938C8.73743 5.10938 9.35266 5.76581 9.3717 6.6286C9.3717 7.47235 8.73743 8.14746 7.71826 8.14746ZM19.7175 18.1406H16.7953V13.4368C16.7953 12.2547 16.3722 11.4485 15.3148 11.4485C14.5074 11.4485 14.0266 11.9923 13.8153 12.5173C13.738 12.7051 13.7192 12.9677 13.7192 13.2305V18.1406H10.7968C10.7968 18.1406 10.8351 10.173 10.7968 9.34808H13.7192V10.593C14.1075 9.9939 14.8024 9.14172 16.353 9.14172C18.2758 9.14172 19.7175 10.3984 19.7175 13.099V18.1406Z" />
            </svg>
          </a>
          {{ /if }}

        </div>
      </div>

    </div>

    <!--Card 2-->
    <div class="rounded threeColCard text-center bg-white overflow-hidden">
      <div class="px-6 py-4 flex flex-col items-center">
        <h3 class="mb-4 ">Location</h3>
        <p class="mb-4">
          {{ company_details:address_line_1 }}, {{ company_details:address_line_2 }}
          <br>
          {{ company_details:address_line_3 }}
          <br>
          {{ company_details:postcode }}
        </p>
        <a href="https://google.com/maps/place/{{ company_details:address_line_1 }}+{{ company_details:address_line_2 }}+{{ company_details:address_line_3 }}+{{ company_details:postcode }}"
          target="_blank">
          <button class="btn bg-fadeOrange">Open Google Maps</button>
        </a>
      </div>
      <div class="px-6 py-4 flex flex-col items-center">
        
        <p class="mb-4">
          {{ company_details:second_address_line_1 }} <br> {{ company_details:second_address_line_2 }}
          <br>
          {{ company_details:second_address_line_3 }}
          <br>
          {{ company_details:second_postcode }}
        </p>
        <a href="https://google.com/maps/place/{{ company_details:second_address_line_1 }}+{{ company_details:second_address_line_2 }}+{{ company_details:second_address_line_3 }}+{{ company_details:second_postcode }}"
          target="_blank">
          <button class="btn bg-fadeOrange">Open Google Maps</button>
        </a>
      </div>

    </div>

    <!--Card 3-->
    <div class="rounded threeColCard text-center bg-white overflow-hidden">
      <div class="px-6 py-4 flex flex-col items-center">

        <h3 class="mb-4 whitespace-nowrap">Opening Hours</h3>

        <div class="flex w-full">
          <ul class="mb-4 w-1/2 flex flex-col gap-y-2 items-end mr-4">
            {{ company_details }}
              {{ opening_hours }}
                <li>
                  <span class="">{{ day }}</span>
                </li>
              {{ /opening_hours }}
            {{ /company_details }}

          </ul>
          <ul class="mb-4 w-1/2 flex gap-y-2 flex-col items-start">
            {{ company_details }}
              {{ opening_hours }}
                <li>
                  <span class="">{{ hours }}</span>
                </li>
              {{ /opening_hours }}
            {{ /company_details }}
            
          </ul>
        </div>
      </div>

    </div>

  </div>

</section>
<!--END OF // 3 COL BLOCKS-->