
    <section class="innerWidthSchoolUniforms mt-10">
        <div class="md:p-10 flex flex-col md:flex-row gap-12 justify-center items-stretch">
            {{add_block}}

          <div class="rounded text-center {{if total_results == 1 }} w-full lg:w-3/5 {{elseif total_results == 2 }}w-full lg:w-1/2 {{elseif total_results >= 3 }}w-full lg:w-1/3{{/if}} bg-white overflow-hidden p-6">
            
            <div class="px-6 py-4 flex flex-col items-center">
              {{ if block_icon }}
              <img width="50" height="50" src="{{ block_icon }}" alt="">
              {{ /if }}
              {{ if block_title }}
              <span class="font-bold mt-1 mb-4 text-mediumTitle">{{ block_title }}</span>
              {{/if}}
              {{ if block_subtext }}
              <p class="mb-4">
                {{ block_subtext }}
              </p>
              {{/if}}
              {{ if block_button_link}}
              <a href="{{ block_button_link }}"><button class="btn bg-fadeOrange">{{ block_button_text }}</button></a>
              {{/if}}
            </div>
          </div>
          {{/add_block}}
        </div>
      </section>

  