<!--CTA-->
<section class="ctaWrapper w-screen flex justify-center items-center bg-primary px-12 md:px-0">
    <div class="flex flex-col w-auto max-w-3xl items-center text-center">
        <h1 class="text-mediumTitle md:text-title  mb-3 text-white">{{ cta_title }}</h1>
        <p class="text-white w-3/4 md:w-full">{{ cta_text }}</p>
        <a href="{{ cta_button_link }}">
            <button class="btn bg-fadeOrange mt-8">{{ cta_button_text }}</button>
        </a>
    </div>
</section>
<!--END OF // CTA-->