<div class="flex justify-center  items-center flex-col ">
  <div class="px-6 lg:px-0 max-w-5xl pt-10 pb-24 ">
    <div class="bg-white rounded mx-auto accordian" x-data="{selected:null}">
      <ul class="shadow-box">

        {{ faqs }}
        <li class="relative border-b border-gray-200">

          <button type="button" class="FAQbutton w-full px-6 py-6 text-left"
            @click="selected !== {{ index }} ? selected = {{ index }} : selected = null">
            <div class="flex items-center justify-between ">
              <span class="question">
                {{ question }} </span>
              <span class="arrowIcon">
                <svg width="6" height="11" viewBox="0 0 6 11" class="transform rotate-90 fill-current text-primary" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" />
                  </svg>
              </span>
              
            </div>
          </button>

          <div class="relative overflow-hidden transition-all max-h-0 duration-700" style="" x-ref="container{{ index }}"
            x-bind:style="selected == {{ index }} ? 'max-height: ' + $refs.container{{ index }}.scrollHeight + 'px' : ''">
            <div class="p-6 leading-6 text-primary">
              {{ answer }}
            </div>
          </div>

        </li>
        {{ /faqs }}

      </ul>
    </div>
  </div>
</div>

