<!--FOOTER-->
<section class="footer bg-primary text-white flex flex-col w-full items-between">

    <div class="flex flex-col w-full m-auto max-w-4xl">
        <div class="flex flex-col md:flex-row justify-between">
            <!--FOOTER LHS-->
            <div class="">
                <ul class="text-smallerTitle flex flex-col gap-y-6 font-bold mb-16 md:mb-0">
                    {{ nav:footer_nav_large }}
                    <li>
                        <a href="{{ url }}" class="hover:opacity-30 transition">{{ title }}</a>
                    </li>
                    {{ /nav:footer_nav_large }}
                </ul>
                <div class="hidden md:flex opacity-30 mt-6">
                    <p class="text-fadedGrey text-3xs">&#169; 2021 JNR Clothing | Website by <a
                            href="https://reflex-studios.com">Reflex Studios</a>
                    </p>
                </div>
            </div>
            <!--END OF // FOOTER LHS-->

            <!--FOOTER RHS-->
            <div class="flex flex-col ml-0 md:ml-6">
                <p class="text-smallerTitle text-white font-bold mb-8">Customer Care</p>

                <ul class="flex flex-grow flex-col gap-y-4 mb-12 md:mb-0">
                    {{ nav:footer_nav_small }}
                    <li>
                        <a href="{{ url }}" class="hover:opacity-30 transition">{{ title }}</a>
                    </li>
                    {{ /nav:footer_nav_small }}
                </ul>


                <a href="tel:" class="text-smallerTitle font-bold mb-4 hover:opacity-30 transition">{{
                    company_details:phone }}</a>
                <div class="flex gap-x-2 mb-12 md:mb-0">

                    <!--Facebook-->
                    {{ if company_details:facebook }}
                    <a href="{{ company_details:facebook }}" target="_blank" class="hover:opacity-30 transition">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.4844 0H3.51563C1.57727 0 0 1.57727 0 3.51563V20.4844C0 22.4227 1.57727 24 3.51563 24H10.5938V15.5156H7.78125V11.2969H10.5938V8.4375C10.5938 6.11115 12.4861 4.21875 14.8125 4.21875H19.0781V8.4375H14.8125V11.2969H19.0781L18.375 15.5156H14.8125V24H20.4844C22.4227 24 24 22.4227 24 20.4844V3.51563C24 1.57727 22.4227 0 20.4844 0Z"
                                fill="white" />
                        </svg>
                    </a>
                    {{ /if }}

                    <!--Insta-->
                    {{ if company_details:instagram }}
                    <a href="{{ company_details:instagram }}" class="hover:opacity-30 transition">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18 0H6C2.70029 0 0 2.69912 0 6V18C0 21.2997 2.70029 24 6 24H18C21.2997 24 24 21.2997 24 18V6C24 2.69912 21.2997 0 18 0ZM12 16.9998C9.23818 16.9998 6.9999 14.7606 6.9999 12C6.9999 9.23818 9.23818 6.9999 12 6.9999C14.7606 6.9999 17.0001 9.23818 17.0001 12C17.0001 14.7606 14.7606 16.9998 12 16.9998ZM18.5001 6.9999C17.6709 6.9999 17.0001 6.32818 17.0001 5.4999C17.0001 4.67162 17.6709 3.9999 18.5001 3.9999C19.3293 3.9999 20.0001 4.67162 20.0001 5.4999C20.0001 6.32818 19.3293 6.9999 18.5001 6.9999Z"
                                fill="white" />
                        </svg>
                    </a>
                    {{ /if }}

                    <!--LinkedIn-->
                    {{ if company_details:linkedin }}
                    <a href="{{ company_details:linkedin }}" class="hover:opacity-30 transition">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M22.2691 0H1.7309C0.774902 0 0 0.774902 0 1.7309V22.2691C0 23.2251 0.774902 24 1.7309 24H22.2691C23.2251 24 24 23.2251 24 22.2691V1.7309C24 0.774902 23.2251 0 22.2691 0V0ZM8.51294 18.1406H5.59039V9.34808H8.51294V18.1406ZM7.05176 8.14746H7.03271C6.052 8.14746 5.41772 7.47235 5.41772 6.6286C5.41772 5.76581 6.07141 5.10938 7.07117 5.10938C8.07092 5.10938 8.68616 5.76581 8.7052 6.6286C8.7052 7.47235 8.07092 8.14746 7.05176 8.14746ZM19.051 18.1406H16.1288V13.4368C16.1288 12.2547 15.7057 11.4485 14.6483 11.4485C13.8409 11.4485 13.3601 11.9923 13.1488 12.5173C13.0715 12.7051 13.0527 12.9677 13.0527 13.2305V18.1406H10.1303C10.1303 18.1406 10.1686 10.173 10.1303 9.34808H13.0527V10.593C13.441 9.9939 14.1359 9.14172 15.6865 9.14172C17.6093 9.14172 19.051 10.3984 19.051 13.099V18.1406Z"
                                fill="white" />
                        </svg>
                    </a>
                    {{ /if }}

                </div>

                <div class="text-3xs opacity-50 mt-6 ">
                    <p class="text-fadedGrey">{{ company_details:address_line_1 }} {{ company_details:address_line_2 }} {{ company_details:address_line_3 }} {{ company_details:postcode }}</p>
                </div>

                <div class="text-3xs md:hidden opacity-50">
                    <p class="text-fadedGrey">&#169; {{ now|format:Y }} {{ company_details:company_name }} | Website by <a
                            href="https://reflex-studios.com">Reflex Studios</a>
                    </p>
                </div>

            </div>
            <!--END OF // FOOTER RHS-->
        </div>

    </div>

</section>
<!--END OF // FOOTER-->