<header>

  <!--SMALL INFO BANNER-->
  <div class="smallInfoBanner  uppercase">
    {{ if company_details:first_item_text }}
    <div class="hidden md:flex items-center">
      <span class="mr-2">
        <img width="15" height="14" class="opacity-50" src="{{ company_details:first_item_icon}}" alt="">
      </span>
      <span class="text-fadedGrey text-4xs">{{ company_details:first_item_text }}</span>
    </div>
    {{ /if }}

    {{ if company_details:second_item_text }}
    <div class="flex items-center">
      <span class="mr-2">
        <img width="12" height="14" class="opacity-50" src="{{ company_details:second_item_icon}}" alt="">
      </span>
      <span class="text-fadedGrey text-4xs">{{ company_details:second_item_text }}</span>
    </div>
    {{ /if }}

    {{ if company_details:third_item_text }}
    <div class="hidden md:flex items-center">
      <span class="mr-2">
        <img width="10" height="14" class="opacity-50" src="{{ company_details:third_item_icon}}" alt="">
      </span>
      <span class="text-fadedGrey text-4xs">{{ company_details:third_item_text }}</span>
    </div>
    {{ /if }}

  </div>
  <!--END OF // SMALL INFO BANNER-->


  <!--TOP SECTION AND NAVs-->
  <div class="topSectionWrapper flex flex-col ">

    <div class="topSectionTop border-b flex w-full justify-center items-center ">

      <div class="hidden md:block topSectionLeft font-neuzeit ">
        <div class="">
          <a href="tel:{{ company_details:phone }}" class="text-xxs w-max hover:text-fadeOrange">{{
            company_details:phone }}
          </a>
        </div>
      </div>

      <div class="flex justify-between items-center w-full md:w-auto topSectionCenter">

        <!--HERO LOGO-->
        <a href="/">
          <svg class="heroLogo" viewBox="0 0 243 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M13.1053 0.572055H7.07666V18.0418C7.07666 21.6062 6.68062 22.9703 5.4485 23.9824C4.56841 24.6865 3.11626 25.0825 1.40009 25.0825C1.00405 25.0825 0.78403 25.0825 0.167969 25.0385V30.363C9.4529 30.5831 13.2373 27.4147 13.1053 19.4939V0.572055Z"
              fill="#002959" />
            <path
              d="M24.8011 11.3531L37.1224 29.923H43.019V0.572055H36.9904V18.8779L24.7131 0.572055H18.7725V29.923H24.8011V11.3531Z"
              fill="#002959" />
            <path
              d="M55.1831 18.2618L63.2359 29.923H70.5406L62.4438 18.6579C66.9763 17.5138 69.3965 14.4334 69.3965 9.81298C69.3965 3.78438 65.4801 0.572055 58.2194 0.572055H49.1545V29.923H55.1831V18.2618ZM55.1831 14.7415V5.54455H58.4394C61.4317 5.54455 63.2799 7.30473 63.2799 10.121C63.2799 13.0693 61.3437 14.7415 57.9114 14.7415H55.1831Z"
              fill="#002959" />
            <path
              d="M108.331 21.9142C106.527 23.9824 104.459 24.9065 101.774 24.9065C96.4939 24.9065 92.7096 20.8141 92.7096 15.1815C92.7096 9.54895 96.3179 5.58856 101.466 5.58856C103.931 5.58856 105.955 6.46864 108.331 8.62486L112.248 4.66447C108.771 1.27613 105.691 0 101.158 0C92.6656 0 86.5929 6.38064 86.5929 15.3135C86.5929 19.3619 88.0451 23.3223 90.5533 26.0946C93.1496 28.9989 96.714 30.4951 101.07 30.4951C105.427 30.4951 108.595 29.2189 111.983 26.0506L108.331 21.9142Z"
              fill="#002959" />
            <path d="M121.258 29.923V0.572055H115.67V29.923H121.258Z" fill="#002959" />
            <path
              d="M136.613 8.84488C130.012 8.84488 125.479 13.2893 125.479 19.758C125.479 26.0946 130.1 30.6271 136.525 30.6271C142.773 30.6271 147.658 25.9186 147.658 19.934C147.658 13.5093 143.037 8.84488 136.613 8.84488ZM136.613 13.8614C139.957 13.8614 142.025 16.1496 142.025 19.846C142.025 23.2343 139.781 25.6546 136.569 25.6546C133.312 25.6546 131.112 23.2783 131.112 19.758C131.112 16.1936 133.312 13.8614 136.613 13.8614Z"
              fill="#002959" />
            <path
              d="M157.619 14.1694H160.172V9.46095H157.619V4.0044H152.031V9.46095H149.699V14.1694H152.031V26.0506C151.987 28.7349 152.999 29.835 155.727 29.923H160.172V25.2585H159.204C157.972 25.1705 157.619 24.9065 157.619 23.9384V14.1694Z"
              fill="#002959" />
            <path
              d="M170.032 0.572055H164.444V29.923H170.032V17.7778C170.032 16.1936 170.297 15.4015 171.177 14.5655C171.837 13.9054 172.717 13.5534 173.685 13.5534C175.533 13.5534 176.721 15.0055 176.721 17.2937V29.923H182.31V16.5016C182.31 13.5534 181.826 11.9692 180.506 10.7371C179.317 9.59296 177.381 8.84488 175.621 8.84488C173.421 8.84488 171.749 9.72497 170.032 11.7492V0.572055Z"
              fill="#002959" />
            <path
              d="M193.324 9.54895H187.735V29.923H193.324V9.54895ZM190.552 0.616062C188.747 0.616062 187.427 1.93619 187.427 3.74037C187.427 5.50055 188.747 6.82068 190.552 6.82068C192.312 6.82068 193.632 5.50055 193.632 3.78438C193.632 1.93619 192.356 0.616062 190.552 0.616062Z"
              fill="#002959" />
            <path
              d="M198.865 9.54895V29.923H204.454V17.5578C204.454 15.1815 205.906 13.5534 208.062 13.5534C209.162 13.5534 210.219 14.0814 210.747 14.9175C211.099 15.4895 211.231 16.1496 211.231 17.2937V29.923H216.819V17.0297C216.819 13.6854 216.335 12.0572 215.015 10.7371C213.783 9.54895 211.935 8.84488 209.998 8.84488C207.446 8.84488 205.95 9.72497 204.454 12.0572V9.54895H198.865Z"
              fill="#002959" />
            <path
              d="M237.331 12.0572C235.571 9.81298 233.591 8.84488 230.73 8.84488C224.614 8.84488 220.521 13.2893 220.521 19.89C220.521 26.0946 224.57 30.6271 230.158 30.6271C233.107 30.6271 235.483 29.4829 237.331 27.1507V29.2189C237.331 33.0473 235.175 35.2475 231.434 35.2475C228.882 35.2475 226.946 34.3674 225.142 32.4312L221.665 35.9516C224.438 38.6799 227.694 40 231.654 40C235.131 40 238.123 38.8999 240.103 36.9197C242.04 35.0275 242.832 32.6073 242.832 28.4268V9.54895H237.331V12.0572ZM231.918 13.8174C233.327 13.8174 234.735 14.4334 235.747 15.4015C236.759 16.4576 237.243 17.9538 237.243 20.154C237.243 21.6942 236.847 22.9703 236.187 23.7624C235.175 24.9505 233.591 25.6546 231.962 25.6546C228.75 25.6546 226.462 23.1463 226.462 19.626C226.462 16.2376 228.706 13.8174 231.918 13.8174Z"
              fill="#002959" />
          </svg>
        </a>

        <!--MOBILE VIEW-->
        <a href="/" class="md:hidden relative mr-8 items-center flex flex-1 justify-end">
          <span class="snipcart-checkout">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.54821 16.4388C7.54821 15.7469 8.10541 15.1898 8.79732 15.1898C9.48923 15.1898 10.0525 15.7531 10.0464 16.4388V24.2449C10.0464 24.9367 9.48923 25.4939 8.79732 25.4939C8.10541 25.4939 7.54821 24.9367 7.54821 24.2449V16.4388Z"
                fill="#002959" />
              <path
                d="M14.853 15.1898C14.1611 15.1898 13.6039 15.7469 13.6039 16.4388V24.2449C13.6039 24.9367 14.1611 25.4939 14.853 25.4939C15.545 25.4939 16.1022 24.9367 16.1022 24.2449V16.4388C16.1022 15.7531 15.5388 15.1898 14.853 15.1898Z"
                fill="#002959" />
              <path
                d="M19.6535 16.4388C19.6535 15.7469 20.2107 15.1898 20.9027 15.1898C21.5946 15.1898 22.1518 15.7531 22.1518 16.4388V24.2449C22.1518 24.9367 21.5946 25.4939 20.9027 25.4939C20.2107 25.4939 19.6535 24.9367 19.6535 24.2449V16.4388Z"
                fill="#002959" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M26.5481 10.2061C27.5156 10.2061 28.4096 10.6592 29.0647 11.4796C29.8913 12.5082 30.1914 13.9408 29.8791 15.3184L27.2217 27C26.8237 28.7694 25.4521 30 23.8907 30H6.10316C4.54177 30 3.1702 28.7633 2.7722 27L0.120907 15.3184C-0.19137 13.9408 0.108661 12.5082 0.935277 11.4796C1.59045 10.6592 2.48442 10.2061 3.45186 10.2061H5.6623C5.87048 4.53674 9.97907 0 15 0C20.0209 0 24.1295 4.53674 24.3377 10.2061H26.5481ZM21.8334 10.2061C21.6374 5.91429 18.6494 2.49796 15 2.49796C11.3506 2.49796 8.36258 5.92041 8.16664 10.2061H21.8334ZM24.7908 26.449L27.4421 14.7612C27.5829 14.1429 27.7544 12.7041 26.5481 12.7041H3.45186C2.33134 12.7041 2.41706 14.1429 2.55789 14.7612L5.20919 26.449C5.3439 27.049 5.72965 27.502 6.10316 27.502H23.8968C24.2703 27.502 24.6561 27.049 24.7908 26.449Z"
                fill="#002959" />
            </svg>
          </span>
          <div class="absolute -top-2 -right-5 text-3xs basketNumber bg-fadeOrange">
            <span class="snipcart-items-count text-white"></span>
          </div>
        </a>


        <div x-data="{ open: false }" class="z-50 md:hidden">
          <div :class="{ 'flex' : open, 'hidden' : open === false }"
            class="fixed md:relative top-0 left-0 w-screen flex-col z-50 bg-warmGrey gap-8 hidden mobileMenuContent">
            <div class="flex flex-col w-full m-auto mt-16 pb-12 px-8">
              <div class="justify-between">
                <!--MOBILE FOOTER LHS-->
                <div class="mb-12">
                  <ul class="text-smallerTitle flex flex-col gap-y-4 font-bold">

                    {{ nav:mobile_nav_large }}
                    <li>
                      <a href="{{ url }}">{{ title }}</a>
                    </li>
                    {{ /nav:mobile_nav_large }}

                  </ul>

                </div>
                <!--END OF // MOBILE FOOTER LHS-->

                <!--MOBILE FOOTER RHS-->
                <div class=" flex flex-col">
                  <p class="text-smallerTitle font-bold mb-8">Customer Care</p>

                  <ul class="flex flex-grow flex-col gap-y-3">
                    {{ nav:mobile_nav_small }}
                    <li>
                      <a href="{{ url }}" class="text-xxs">{{ title }}</a>
                    </li>
                    {{ /nav:mobile_nav_small }}
                  </ul>


                  <a href="tel:" class="text-smallerTitle font-bold mt-8 mb-4">{{ company_details:phone }}</a>
                  <div class="flex gap-x-2">
                    <!--Facebook-->
                    <a href="">
                      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M21.1509 0H4.18213C2.24377 0 0.666504 1.57727 0.666504 3.51563V20.4844C0.666504 22.4227 2.24377 24 4.18213 24H11.2603V15.5156H8.44775V11.2969H11.2603V8.4375C11.2603 6.11115 13.1526 4.21875 15.479 4.21875H19.7446V8.4375H15.479V11.2969H19.7446L19.0415 15.5156H15.479V24H21.1509C23.0892 24 24.6665 22.4227 24.6665 20.4844V3.51563C24.6665 1.57727 23.0892 0 21.1509 0Z"
                          fill="#002959" />
                      </svg>

                    </a>
                    <!--LinkedIn-->
                    <a href="">
                      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M22.9356 0H2.3974C1.44141 0 0.666504 0.774902 0.666504 1.7309V22.2691C0.666504 23.2251 1.44141 24 2.3974 24H22.9356C23.8916 24 24.6665 23.2251 24.6665 22.2691V1.7309C24.6665 0.774902 23.8916 0 22.9356 0V0ZM9.17944 18.1406H6.2569V9.34808H9.17944V18.1406ZM7.71826 8.14746H7.69922C6.71851 8.14746 6.08423 7.47235 6.08423 6.6286C6.08423 5.76581 6.73792 5.10938 7.73767 5.10938C8.73743 5.10938 9.35266 5.76581 9.3717 6.6286C9.3717 7.47235 8.73743 8.14746 7.71826 8.14746ZM19.7175 18.1406H16.7953V13.4368C16.7953 12.2547 16.3722 11.4485 15.3148 11.4485C14.5074 11.4485 14.0266 11.9923 13.8153 12.5173C13.738 12.7051 13.7192 12.9677 13.7192 13.2305V18.1406H10.7968C10.7968 18.1406 10.8351 10.173 10.7968 9.34808H13.7192V10.593C14.1075 9.9939 14.8024 9.14172 16.353 9.14172C18.2758 9.14172 19.7175 10.3984 19.7175 13.099V18.1406Z"
                          fill="#002959" />
                      </svg>
                    </a>
                    <!--Insta-->
                    <a href="">
                      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M18.6665 0H6.6665C3.3668 0 0.666504 2.69912 0.666504 6V18C0.666504 21.2997 3.3668 24 6.6665 24H18.6665C21.9662 24 24.6665 21.2997 24.6665 18V6C24.6665 2.69912 21.9662 0 18.6665 0ZM12.6665 16.9998C9.90469 16.9998 7.66641 14.7606 7.66641 12C7.66641 9.23818 9.90469 6.9999 12.6665 6.9999C15.4271 6.9999 17.6666 9.23818 17.6666 12C17.6666 14.7606 15.4271 16.9998 12.6665 16.9998ZM19.1666 6.9999C18.3374 6.9999 17.6666 6.32818 17.6666 5.4999C17.6666 4.67162 18.3374 3.9999 19.1666 3.9999C19.9958 3.9999 20.6666 4.67162 20.6666 5.4999C20.6666 6.32818 19.9958 6.9999 19.1666 6.9999Z"
                          fill="#002959" />
                      </svg>
                    </a>


                  </div>

                  <div class="opacity-50 mt-12 text-primary text-3xs">
                    <p>{{ company_details:address_line_1 }} {{ company_details:address_line_2 }} {{
                      company_details:address_line_3 }} {{ company_details:postcode }}</p>
                  </div>
                  <div class="opacity-50 text-primary text-3xs">
                    <p>&#169; {{ now|format:Y }} {{ company_details:company_name }} | Website by <a
                        href="https://reflex-studios.com">Reflex Studios</a>
                    </p>
                  </div>

                </div>
                <!--END OF // MOBILE FOOTER RHS-->
              </div>

            </div>
          </div>
          <button @click="open = true" type="button" :class="{ 'hidden' : open, 'block' : !open }"
            class="flex md:hidden text-4xl items-center">
            &#9776;
          </button>
          <button @click="open = false" type="button" :class="{ 'block' : open, 'hidden' : !open }"
            class="md:hidden fixed top-0 right-0 leading-none p-8 text-lg font-bold z-50 hidden">&#10005;</button>
        </div>
        <!--END OF // MOBILE VIEW-->


      </div>



      <!--SITE NAV-->
      <div class="hidden md:flex topSectionRight">
        <ul class="flex flex-row items-center gap-x-5">

          {{ nav:site_nav }}

          
          
          <li class="smallNavLink {{ if is_current }} smallActiveLink {{ /if }}">
            

              {{ if !title | contains:customer }}
              <a href="{{ url }}">
              <span>{{ title }}</span>
            </a>
              {{ /if }}

              <div class="">
                <ul class="flex relative">
                  
                  <li class="" x-data="{ isOpen: false, timeout: null }"
                    x-on:mouseenter="isOpen = true; clearTimeout(timeout)"
                    x-on:mouseleave="timeout = setTimeout(() => { isOpen = false }, 300)">
                    {{ if title | contains:customer }}
                    <span class="cursor-pointer">{{ title }}</span>
                    {{ /if }}
                    
                    <div x-show="isOpen" class="absolute z-50 shadow-card w-max rounded top-5 -left-20 bg-white flex flex-col p-6">
                      {{ nav :from="uri" }}
                      {{ unless no_results }}
                      <ul>
                        <a href="{{ url }}">
                          <li class=" hover:bg-warmGrey group rounded p-4 w-full">
                            <span class="group-hover:text-fadeOrange transition">{{ title }}</span>
                          </li>
                        </a>
                      </ul>
                      {{ /unless }}
                      {{ /nav }}
                    </div>
                    

                  </li>

                </ul>
              </div>


          </li>
          {{ /nav:site_nav }}

          <!--BASKET-->
          <li class="snipcart-checkout">
            <a href="/" class="relative">
              <span>
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M7.54821 16.4388C7.54821 15.7469 8.10541 15.1898 8.79732 15.1898C9.48923 15.1898 10.0525 15.7531 10.0464 16.4388V24.2449C10.0464 24.9367 9.48923 25.4939 8.79732 25.4939C8.10541 25.4939 7.54821 24.9367 7.54821 24.2449V16.4388Z"
                    fill="#002959" />
                  <path
                    d="M14.853 15.1898C14.1611 15.1898 13.6039 15.7469 13.6039 16.4388V24.2449C13.6039 24.9367 14.1611 25.4939 14.853 25.4939C15.545 25.4939 16.1022 24.9367 16.1022 24.2449V16.4388C16.1022 15.7531 15.5388 15.1898 14.853 15.1898Z"
                    fill="#002959" />
                  <path
                    d="M19.6535 16.4388C19.6535 15.7469 20.2107 15.1898 20.9027 15.1898C21.5946 15.1898 22.1518 15.7531 22.1518 16.4388V24.2449C22.1518 24.9367 21.5946 25.4939 20.9027 25.4939C20.2107 25.4939 19.6535 24.9367 19.6535 24.2449V16.4388Z"
                    fill="#002959" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M26.5481 10.2061C27.5156 10.2061 28.4096 10.6592 29.0647 11.4796C29.8913 12.5082 30.1914 13.9408 29.8791 15.3184L27.2217 27C26.8237 28.7694 25.4521 30 23.8907 30H6.10316C4.54177 30 3.1702 28.7633 2.7722 27L0.120907 15.3184C-0.19137 13.9408 0.108661 12.5082 0.935277 11.4796C1.59045 10.6592 2.48442 10.2061 3.45186 10.2061H5.6623C5.87048 4.53674 9.97907 0 15 0C20.0209 0 24.1295 4.53674 24.3377 10.2061H26.5481ZM21.8334 10.2061C21.6374 5.91429 18.6494 2.49796 15 2.49796C11.3506 2.49796 8.36258 5.92041 8.16664 10.2061H21.8334ZM24.7908 26.449L27.4421 14.7612C27.5829 14.1429 27.7544 12.7041 26.5481 12.7041H3.45186C2.33134 12.7041 2.41706 14.1429 2.55789 14.7612L5.20919 26.449C5.3439 27.049 5.72965 27.502 6.10316 27.502H23.8968C24.2703 27.502 24.6561 27.049 24.7908 26.449Z"
                    fill="#002959" />
                </svg>
              </span>
              <div class="absolute -top-2 -right-12 basketNumber bg-fadeOrange">
                <span class="snipcart-items-count text-white"></span>
              </div>
            </a>
          </li>
          <!--END OF // BASKET-->

        </ul>
      </div>
      <!--END OF // SITE NAV-->
    </div>

    <!--PRODUCTS NAV-->
    <div class="hidden md:flex topSectionBtm justify-center">
      <ul class="flex flex-row gap-x-8">

        {{ nav:clothing_nav }}
        <li class="navLink {{ if is_current }} activeLink {{ /if }}">
          <a href="{{ url }}">
            <span>{{ title }}</span>
          </a>
        </li>
        {{ /nav:clothing_nav }}


      </ul>
    </div>
    <!--END OF // PRODUCTS NAV-->
  </div>
  <!--END OF // TOP SECTION AND NAVs-->



</header>