<!--HERO BANNER-->
<section class="heroBanner w-screen flex flex-col md:flex-row">


    <!--HERO BANNER LHS-->
    <div style="background-image: url('/assets/images/blueCircleBg.png')"
        class="heroBannerBgLeft h-[360px] md:h-full md:w-1/2 bg-lighterBlue">

        <div class="heroBannerInnerWrapper w-full h-full relative overflow-hidden">

            <div class="heroBannerInnerRHS p-12 md:p-0 -right-60 md:-right-10 -bottom-30 md:bottom-0 absolute z-0">
                {{ lhs_image }}
                <img width="85%" src="{{ url }}" alt="">
                {{ /lhs_image }}
            </div>

            <div class="heroBannerInnerLHS md:w-1/2 relative z-30 mt-8">
                <h1 class="text-contentTitle md:text-title w-1/2 leading-10 md:leading-none text-white mb-4">{{ lhs_title }}</h1>
                <a href="{{ lhs_button_link }}"><button class="btn text-white bg-primary">{{ lhs_button_text }}</button></a>
            </div>


        </div>
    </div>
    <!--END OF // HERO BANNER LHS-->


    <!--HERO BANNER RHS-->
    <div style="background-image: url('/assets/images/orangeCircleBg.png')"
        class="heroBannerBgRight h-[360px] md:h-full md:w-1/2 bg-fadeOrange">

        <div class="heroBannerInnerWrapper w-full h-full relative overflow-hidden">

            <div class="heroBannerInnerRHS p-12 md:p-0 -right-60 md:-right-10 -bottom-30 md:bottom-0 absolute z-0">
                {{ rhs_image }}
                <img width="85%" src="{{ url }}" alt="">
                {{ /rhs_image }}
            </div>

            <div class="heroBannerInnerLHS md:w-1/2 relative z-30 mt-8">
                <h1 class="text-contentTitle md:text-title leading-10 md:leading-none text-white mb-4">{{ rhs_title }}</h1>
                <a href="{{ rhs_button_link }}"><button class="btn text-white bg-primary">{{ rhs_button_text }}</button></a>
            </div>


        </div>
    </div>
    <!--END OF // HERO BANNER RHS-->

    
</section>
<!--END OF // HERO BANNER-->