<a href="{{ url }}?school={{ page:slug }}" class=" group w-full md:w-1/2 lg:w-1/3 xl:w-1/4 h-full px-4 {{ if gender == "both" }}both{{ elseif gender == "girl" }}girl{{ elseif gender == "boy" }}boys{{/if}}">
    <div
        class="rounded m-4 fiveColCardInner text-center bg-white overflow-hidden group-hover:shadow-card group-hover:scale-95 transition h-full ">
        <div class="cardImageWrapper flex flex-col gap-y-4 md:gap-y-0 h-full items-center ">

            <div style="background-image: url('{{ product_images:0 }}'); background-size:contain; max-height: 300px; background-position:center; background-repeat: no-repeat;"
                class="cardImage">

            </div>

            <div class="flex flex-col gap-y-2 justify-start">
                <span class="font-bold text-xxs">
                    {{ title }}
                </span>
                {{ if has_variants }}
                {{ variants limit="1" }}
                {{ if price }}
                <span class="2xs">From £{{ price }}</span>
                {{ /if }}
                {{ /variants }}
                {{ elseif product_price }}
                <span class="2xs">£{{ product_price }}</span>
                {{ /if }}
            </div>

        </div>
    </div>
</a>