<a href="{{ url }}" class="fiveColCard w-full h-full">
  <div class="rounded px-3.5 fiveColCardInner text-center bg-white overflow-hidden">
    <div class="flex flex-col items-center h-full">

      <div class="cardImage overflow-hidden">
        {{ school_logo }}
        <img width="240px" height="249px" src="{{ url }}" class="object-cover" alt="">
        {{ /school_logo }}
      </div>

      <div class="flex flex-col flex-1 gap-y-2 justify-start mt-6">
        <span class="font-bold text-xxs">
          {{ title }}
        </span>
        <span class="2xs text-mediumGrey">{{ school_location }}</span>
      </div>

    </div>

  </div>
</a>