<!--INFO BANNER-->
<section class="infoBanner text-xxs py-12 md:py-0 px-8 flex flex-col md:flex-row justify-around">
    <div class="flex items-center my-3 md:my-8">
        <img width="31" height="31" src="{{ item_1_icon }}" alt="">
        <span class="ml-5">{{ item_1_text }}</span>
    </div>
    <div class="flex items-center my-3 md:my-8">
        <img width="29" height="31" src="{{ item_2_icon }}" alt="">
        <span class="ml-5">{{ item_2_text }}</span>
    </div>
    <div class="flex items-center my-3 md:my-8">
        <img width="32" height="31" src="{{ item_3_icon }}" alt="">
        <span class="ml-5">{{ item_3_text }}</span>
    </div>
</section>
<!--END OF // INFO BANNER-->