<section class="my-12">

  <div class="justify-center w-full items-stretch flex-wrap md:p-10 flex gap-y-4 -mx-2.5">

    <!--Card-->
    {{ collection:schools }}
    {{ if school_type === "pre-school" }}
      <div class="pre-school schoolWrapper">{{ partial:/components/ifSchoolsCards }}</div>
    {{ /if }}
    {{ if school_type === "primary" }}
    <div class="primary schoolWrapper">{{ partial:/components/ifSchoolsCards }}</div>
    {{ /if }}
    {{ if school_type === "secondary" }}
    <div class="secondary schoolWrapper">{{ partial:/components/ifSchoolsCards }}</div>
    {{ /if }}
    {{ /collection:schools }}


  </div>

</section>