    <!--HERO BANNER-->
    <section class="textBanner bg-primary w-full flex justify-center items-center text-secondary">
      <div class="">
          <h1 class="text-secondary">{{ title }}</h1>
      </div>
  </section>
  <!--END OF // HERO BANNER-->