<!--CONTACT FORM-->
<section class="md:pr-6 overflow-x-hidden">
  <div class=" bg-white text-primary text-center">
    <div>
      <div class="thankYouMsgWrapper hidden">
        <h3 class="thankYouMsg mb-3 block">Thank you</h3>
        <p>We have recieved your enquiry and will get back to you shortly. <br> Alternatively you can call us on <a href="tel:{{ company_details:phone }}" class="font-bold">{{ company_details:phone }}</a></p>
      </div>
      <div class="loadingGif hidden w-full justify-center">
        <img width="40px" height="40px" src="/assets/loadingGif2.gif" alt="">
      </div>
    </div>



    <div class="getAQuoteForm flex flex-col">

      {{ form:product_form id="productForm" }}

      <div class="w-full outline relative">
        <input type="text" required name="first_name" placeholder=" " class="w-full bg-warmGrey">
        <label for="first_name" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">First Name</label>
      </div>

      <div class="w-full outline relative">
        <input type="text" required name="last_name" placeholder=" " class="w-full bg-warmGrey">
        <label for="last_name" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">Last Name</label>
      </div>
      <div class="w-full outline relative">
        <input type="text" required name="company_name" placeholder=" " class="w-full bg-warmGrey">
        <label for="company_name" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">Company Name</label>
      </div>

      <div class="w-full outline relative">
        <input type="email" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" required
          name="email" placeholder=" " class="w-full bg-warmGrey">
        <label for="email" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">Email</label>
        <p class="error-message absolute right-0 -bottom-6 text-fadeOrange text-3xs">Invalid email address</p>
      </div>

      <div class="w-full outline relative">
        <input type="text" required name="phone" placeholder=" " class="w-full bg-warmGrey">
        <label for="phone" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">Phone</label>
      </div>

      <div class="w-full outline relative">
        <input type="text" required name="product" placeholder=" " value="{{ title }}" class="w-full bg-warmGrey">
        <label for="product" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">Product</label>
      </div>

      
      <div class="w-full outline relative">
        <textarea name="message" rows="10" class="w-full pt-8 bg-warmGrey" placeholder=" "></textarea>
        <label for="message" class="absolute -z-1 duration-300 origin-left whitespace-nowrap formMessage">Requirements /
          message</label>
      </div>

      <div class="mt-8 pleaseCheckMsg text-fadeOrange hidden">*Please check all fields are filled out and you have completed the Captcha below.</div>
      
      <div class="w-full flex flex-col md:flex-row justify-between items-center">
        <div class="">{{ captcha }}</div>
        <button class="btn bg-fadeOrange my-8">Send</button>
      </div>
      {{ /form:product_form }}
    </div>



  </div>
</section>
<!--END OF // CONTACT FORM-->


<script type="text/javascript">

  
  /*AJAX FORM SUBMISSION (FORM MUST BE GIVEN AN ID)*/
  $(function () {
    var form = $('#productForm');

    $(form).submit(function (event) {
      $('html, body').animate({scrollTop:0}, 500);
      event.preventDefault();

      var formData = $(form).serialize();

      $.ajax({
        type: 'POST',
        url: $(form).attr('action'),
        data: formData
      }).done(function (response) {
        console.log('Form submitted!');

        $(".getAQuoteForm").addClass('hidden');
        $(".getInTouchMsg").addClass('hidden');
        $(".loadingGif").addClass('flex').removeClass('hidden');
        $(".pleaseCheckMsg").addClass('hidden').removeClass('block');

        setTimeout(function() { 
          $('.thankYouMsgWrapper').removeClass('hidden');
          $(".loadingGif").removeClass('flex').addClass('hidden');

      }, 1000);

      }).fail(function (data) {
        console.log('Form NOT submitted!');
        $(".pleaseCheckMsg").addClass('block').removeClass('hidden');
      });
    });
  });
  /*END OF // AJAX FORM SUBMISSION*/


</script>