{{if products}}
<section class="max-w-screen-2xl mt-10 m-auto">
    
        <div class="text-center">
            <h2 class="mb-16 mt-2">{{ product_cards_title }}</h2>
        </div>
        
        
        <div class="md:p-10 flex flex-col justify-center items-stretch">
        <div class="flex w-full flex-wrap gap-y-4">
            {{ products }}
            {{ partial:components/ifGenderCards }}
            {{ /products }}

        </div>
         
       
    </div>
</section>
{{/if}}