<!--GET A QUOTE FORM-->
<section class="px-6 lg:px-0  max-w-5xl m-auto pb-16">
  <div class="getAQuoteFormWrapper {{if white_background == "true" }}bg-warmGrey{{else}}bg-white{{/if}} text-primary text-center">
    <div>
      <h2>{{ get_a_quote_form_title }}</h2>
      <p class="getInTouchMsg">{{ get_a_quote_form_subtext }}</p>
      <p class="thankYouMsg hidden">Thank you! We'll get back to you shortly</p>
      <div class="loadingGif hidden w-full justify-center">
        <img width="40px" height="40px" src="/assets/loadingGif2.gif" alt="">
      </div>
    </div>



    <div class="getAQuoteForm mt-8 flex flex-col">

      {{ form:quote_form id="quoteForm" }}

      <div class="w-full outline relative">
        <input type="text" required name="first_name" placeholder=" " class="w-full {{if white_background == "true" }}bg-white{{else}}bg-warmGrey{{/if}}">
        <label for="first_name" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">First Name</label>
      </div>

      <div class="w-full outline relative">
        <input type="text" required name="last_name" placeholder=" " class="w-full {{if white_background == "true" }}bg-white{{else}}bg-warmGrey{{/if}}">
        <label for="last_name" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">Last Name</label>
      </div>
      <div class="w-full outline relative">
        <input type="text" required name="company_name" placeholder=" " class="w-full {{if white_background == "true" }}bg-white{{else}}bg-warmGrey{{/if}}">
        <label for="company_name" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">Company Name</label>
      </div>

      <div class="w-full outline relative">
        <input type="email" required
          name="email" placeholder=" " class="w-full {{if white_background == "true" }}bg-white{{else}}bg-warmGrey{{/if}}">
        <label for="email" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">Email</label>
        <p class="error-message absolute right-0 -bottom-6 text-fadeOrange text-3xs">Invalid email address</p>
      </div>

      <div class="w-full outline relative">
        <input type="text" required name="phone" placeholder=" " class="w-full {{if white_background == "true" }}bg-white{{else}}bg-warmGrey{{/if}}">
        <label for="phone" class="absolute -z-1 duration-300 origin-left whitespace-nowrap">Phone</label>
      </div>

      <div class="w-full outline relative">
        <textarea name="message" rows="10" class="w-full pt-8 {{if white_background == "true" }}bg-white{{else}}bg-warmGrey{{/if}}" placeholder=" "></textarea>
        <label for="message" class="absolute -z-1 duration-300 origin-left whitespace-nowrap formMessage">Requirements /
          message</label>
      </div>

      <div class="mt-8 pleaseCheckMsg text-fadeOrange hidden">*Please check all fields are filled out and you have completed the Captcha below.</div>

      <button class="btn bg-fadeOrange my-8">Send</button>
      
      <div class="w-full flex justify-center">{{ captcha }}</div>

      

      {{ /form:quote_form }}
    </div>

  </div>
</section>
<!--END OF // GET A QUOTE FORM-->



<script type="text/javascript">


  /*AJAX FORM SUBMISSION (FORM MUST BE GIVEN AN ID)*/
  $(function () {
    var form = $('#quoteForm');

    $(form).submit(function (event) {
      event.preventDefault();

      var formData = $(form).serialize();

      $.ajax({
        type: 'POST',
        url: $(form).attr('action'),
        data: formData
      }).done(function (response) {
        console.log('Form submitted!');

        $(".getAQuoteForm").addClass('hidden');
        $(".getInTouchMsg").addClass('hidden');
        $(".loadingGif").addClass('flex').removeClass('hidden');
        $(".pleaseCheckMsg").addClass('hidden').removeClass('block');


        setTimeout(function () {
          $('.thankYouMsg').removeClass('hidden');
          $(".loadingGif").removeClass('flex').addClass('hidden');

        }, 1000);

      }).fail(function (data) {
        console.log('Form NOT submitted!');
        $(".pleaseCheckMsg").addClass('block').removeClass('hidden');
      });
    });
  });
    /*END OF // AJAX FORM SUBMISSION*/


</script>