<section class="testiWrapper w-screen flex justify-center items-center {{if white_background == "true" }}bg-warmGrey{{else}}bg-white{{/if}} text-primary">
    {{ collection:testimonials }}
    <div class="testiItem flex flex-col items-center">
        <div class="flex">
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.1466 6.83507C19.0816 6.63491 18.9086 6.48904 18.7004 6.45882L12.8508 5.60878L10.2347 0.308139C10.1416 0.119445 9.94937 0 9.73897 0C9.52853 0 9.33637 0.119445 9.24324 0.308139L6.62703 5.60878L0.777514 6.45882C0.569324 6.48904 0.396293 6.63491 0.331282 6.83503C0.266234 7.03519 0.320484 7.25488 0.471181 7.40174L4.70382 11.5277L3.70478 17.3538C3.66917 17.5612 3.75446 17.7707 3.92469 17.8944C4.02099 17.9644 4.13505 18 4.24967 18C4.33767 18 4.42598 17.979 4.50684 17.9365L9.73893 15.1858L14.9708 17.9365C15.1571 18.0344 15.3828 18.0181 15.553 17.8944C15.7232 17.7707 15.8085 17.5611 15.773 17.3537L14.7736 11.5277L19.0067 7.4017C19.1574 7.25488 19.2117 7.03519 19.1466 6.83507Z"
                    fill="#FFB82F" />
            </svg>
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.1466 6.83507C19.0816 6.63491 18.9086 6.48904 18.7004 6.45882L12.8508 5.60878L10.2347 0.308139C10.1416 0.119445 9.94937 0 9.73897 0C9.52853 0 9.33637 0.119445 9.24324 0.308139L6.62703 5.60878L0.777514 6.45882C0.569324 6.48904 0.396293 6.63491 0.331282 6.83503C0.266234 7.03519 0.320484 7.25488 0.471181 7.40174L4.70382 11.5277L3.70478 17.3538C3.66917 17.5612 3.75446 17.7707 3.92469 17.8944C4.02099 17.9644 4.13505 18 4.24967 18C4.33767 18 4.42598 17.979 4.50684 17.9365L9.73893 15.1858L14.9708 17.9365C15.1571 18.0344 15.3828 18.0181 15.553 17.8944C15.7232 17.7707 15.8085 17.5611 15.773 17.3537L14.7736 11.5277L19.0067 7.4017C19.1574 7.25488 19.2117 7.03519 19.1466 6.83507Z"
                    fill="#FFB82F" />
            </svg>
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.1466 6.83507C19.0816 6.63491 18.9086 6.48904 18.7004 6.45882L12.8508 5.60878L10.2347 0.308139C10.1416 0.119445 9.94937 0 9.73897 0C9.52853 0 9.33637 0.119445 9.24324 0.308139L6.62703 5.60878L0.777514 6.45882C0.569324 6.48904 0.396293 6.63491 0.331282 6.83503C0.266234 7.03519 0.320484 7.25488 0.471181 7.40174L4.70382 11.5277L3.70478 17.3538C3.66917 17.5612 3.75446 17.7707 3.92469 17.8944C4.02099 17.9644 4.13505 18 4.24967 18C4.33767 18 4.42598 17.979 4.50684 17.9365L9.73893 15.1858L14.9708 17.9365C15.1571 18.0344 15.3828 18.0181 15.553 17.8944C15.7232 17.7707 15.8085 17.5611 15.773 17.3537L14.7736 11.5277L19.0067 7.4017C19.1574 7.25488 19.2117 7.03519 19.1466 6.83507Z"
                    fill="#FFB82F" />
            </svg>
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.1466 6.83507C19.0816 6.63491 18.9086 6.48904 18.7004 6.45882L12.8508 5.60878L10.2347 0.308139C10.1416 0.119445 9.94937 0 9.73897 0C9.52853 0 9.33637 0.119445 9.24324 0.308139L6.62703 5.60878L0.777514 6.45882C0.569324 6.48904 0.396293 6.63491 0.331282 6.83503C0.266234 7.03519 0.320484 7.25488 0.471181 7.40174L4.70382 11.5277L3.70478 17.3538C3.66917 17.5612 3.75446 17.7707 3.92469 17.8944C4.02099 17.9644 4.13505 18 4.24967 18C4.33767 18 4.42598 17.979 4.50684 17.9365L9.73893 15.1858L14.9708 17.9365C15.1571 18.0344 15.3828 18.0181 15.553 17.8944C15.7232 17.7707 15.8085 17.5611 15.773 17.3537L14.7736 11.5277L19.0067 7.4017C19.1574 7.25488 19.2117 7.03519 19.1466 6.83507Z"
                    fill="#FFB82F" />
            </svg>
            {{ if stars != "four" }}
            <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.1466 6.83507C19.0816 6.63491 18.9086 6.48904 18.7004 6.45882L12.8508 5.60878L10.2347 0.308139C10.1416 0.119445 9.94937 0 9.73897 0C9.52853 0 9.33637 0.119445 9.24324 0.308139L6.62703 5.60878L0.777514 6.45882C0.569324 6.48904 0.396293 6.63491 0.331282 6.83503C0.266234 7.03519 0.320484 7.25488 0.471181 7.40174L4.70382 11.5277L3.70478 17.3538C3.66917 17.5612 3.75446 17.7707 3.92469 17.8944C4.02099 17.9644 4.13505 18 4.24967 18C4.33767 18 4.42598 17.979 4.50684 17.9365L9.73893 15.1858L14.9708 17.9365C15.1571 18.0344 15.3828 18.0181 15.553 17.8944C15.7232 17.7707 15.8085 17.5611 15.773 17.3537L14.7736 11.5277L19.0067 7.4017C19.1574 7.25488 19.2117 7.03519 19.1466 6.83507Z"
                    fill="#FFB82F" />
            </svg>
            {{ /if }}
        </div>
        <p>“{{ review }}”</p>
        <span>{{ title }}</span>
    </div>
    {{ /collection:testimonials }}

</section>
