

{{ collection:products }}

  <ul class="w-full text-center">
    <li>{{ id }}</li>
    <li>{{ title }}</li>
    <li>{{ product_price }}</li>
    <button class="btn bg-fadeOrange snipcart-add-item"
      data-item-id="{{ slug }}" data-item-price="{{ product_price }}" data-item-url="https://jnrclothing.com/all-products"
      data-item-description="" data-item-name="{{ title }}" data-item-quantity="" data-item-stackable="never">
        Add to Cart
    </button>
    {{ variants }}
      <li>{{ title }}</li>
      <li>{{ price }}</li>
      <button class="btn bg-fadeOrange snipcart-add-item"
      data-item-id="{{ slug }}" data-item-price="{{ price }}" data-item-url="https://jnrclothing.com/all-products"
      data-item-description="" data-item-name="{{ title }}" data-item-quantity="" data-item-stackable="never">
        Add to Cart
      </button>
    {{ /variants }}
  </ul>
  <br><br>

{{ /collection:products }}