{{ partial:components/pageBanner }}
<div class="{{if white_background == "true" }}bg-white{{else}}bg-warmGrey{{/if}} py-24">
  {{ content }}
    {{ if type == 'text' }}
        <section class="px-6 lg:px-0  max-w-small m-auto general_content">
            <div>
                {{ text }}
            </div>
        </section>
    {{ elseif type == 'faqs' }}
        {{ partial:components/faqs }}
    {{ elseif type == 'get_a_quote_form' }}
        {{ partial:components/quoteForm }}
    {{ elseif type == 'blocks' }}
        {{ partial:components/blocks }}
    {{ elseif type == 'product_cards' }}
        {{ partial:components/product_cards }}
    {{ elseif type == 'cta_area' }}
        {{ partial:components/cta }}
    {{ elseif type == 'testimonials' }}
        {{ partial:components/testimonials }}
    {{/if}}
{{ /content }}
</div>