<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | {{ company_details:company_name }}</title>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    <link rel="shortcut icon" type="image/jpg" href="/assets/logos/JNR-Favicon.png"/>
    <link rel="stylesheet" href="https://use.typekit.net/trr5ywd.css">
    <link rel="preconnect" href="https://app.snipcart.com">
    <link rel="preconnect" href="https://cdn.snipcart.com">
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    {{ captcha:head }}

</head>
<body class="overflow-x-hidden antialiased">
    {{ partial:components/headerAndNavs }}
    {{ template_content }}
    {{ partial:components/footer }}
    <script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
    <div id="snipcart" data-config-modal-style="side" class="hidden" data-api-key="ZjQyZTZjNzQtYmUxYS00NWI2LWJiYzItNWZkNTg5ZjRjM2MxNjM3NzI4NDI0NTQ2MTE2ODc1" hidden></div>
</body>
<script>
    $(document).ready(function () {
        $('.testiWrapper').slick({
            autoplay: true,
            infinite: true,
            speed: 500,
            arrows: false,
            slidesToShow: 1,
        });
    });
</script>
</html>