@tailwind base;
@tailwind components;

* {
    @apply font-neuzeit; 
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.transition {
    @apply transition-all duration-300 ease-in-out;
}

h1 {
    @apply text-title font-bold text-primary;
}

h2 {
    @apply text-contentTitle font-bold text-primary;
}

h3 {
    @apply text-mediumTitle font-bold text-primary;
}

h4 {
    @apply font-bold;
    line-height: 41.85px;
    margin-bottom: 30px
}

p {
    @apply text-primary;
    line-height: 29.75px ;
}

span {
    @apply text-primary;
}





.innerWidth {
    margin: 0 8%;
}

.innerWidthSchoolUniforms {
    margin: 0 6%;
}


.schoolSearchWrapper input {
    width: 500px;
}

@media only screen and (max-width:532px) {
    .schoolSearchWrapper input {
    width: 100%;
}
}


@media only screen and (max-width:768px) {
    .innerWidthSchoolUniforms {
        margin: 0 4%;
    }
}

@media only screen and (max-width:768px) {
    .schoolTypeBtnsWrapper {
        @apply overflow-scroll;
    }
}

@media only screen and (max-width:1024px) {
    .schoolUniFinalStep {
        margin-top: -128px;
        margin-bottom: 0!important;
    }
}
@media only screen and (max-width:768px) {
    .schoolUniFinalStep {
        margin-top: -64px;
        /* margin-bottom: 0!important; */
    }
}



.sizeGuide span {
    @apply hover:text-fadeOrange transition;
}

.text-title {
    font-weight: bold;
    line-height: 64px;
}

.font-neuzeit{
    font-family: 'neuzeit'; 
    line-height:100%;
}

.btn {
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    white-space: nowrap;
    color: white;

    @apply border border-transparent;
}

.btnUnselected {
    border: solid 1px;
    @apply text-primary border-fadedGrey border-opacity-20
    hover:bg-white hover:border-opacity-40 transition-all duration-300 ease-in-out
    ;
}


.navLink {
    height: 45px;
}

.navLink:hover {
    height: 45px;
    border-bottom: 5px solid #002959;
}

.mobileMenuContent{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.basketNumber {
    @apply flex justify-center items-center p-3 rounded-full text-white;

    border: solid 3px white;
    width: 7px;
    height: 7px;

}

.smallNavLink a span {
    @apply hover:text-fadeOrange transition-all duration-300 ease-in-out;
}


.smallActiveLink span {
    @apply text-fadeOrange;
}

.activeLink {
    height: 45px;
    border-bottom: 5px solid #FF8143;
}

/*TOP SECTION*/
.smallInfoBanner {
    height: 46px;
    padding: 16px 40px;
    width: screen;
    font-size: 11px;
    line-height: 11px;
    letter-spacing: 0.2em;
    @apply bg-primary text-fadedGrey flex justify-around items-center;

}


@media screen and (max-width: 768px) {
    .smallInfoBanner{
        padding: 16px 20px;
        font-size: 8px;
    }


    
}



.topSectionWrapper {
    @apply bg-white flex text-primary;
}

.topSectionLeft {
    @apply font-bold;
}

.topSectionLeft, .topSectionRight {
    flex: 1;
    display: flex;
    min-width: -webkit-min-content;
  }

  .topSectionRight {
    justify-content: flex-end;
    font-size: 13px;
  }

.topSectionTop {
    padding: 30px 40px;
}

@media screen and (max-width: 768px) {
    .topSectionTop{
        padding: 16px 20px;
        font-size: 8px;
    }
}

.topSectionBtm {
    padding: 19px 40px 0 40px;
    font-size: 17px;
    @apply font-bold;
}


/*HERO BANNER*/
.heroBanner {
    min-height: calc(100vh - 210px);
}


.heroBannerInnerLHS {
    min-height: calc(100vh - 210px);
    padding: 5rem;
}

@media only screen and (max-width:768px) {
    .heroBannerInnerWrapper {
    max-height: 414px;
}
}

@media only screen and (max-width:768px) {
    .heroBannerInnerLHS {
        padding: 3rem;
    }
}

.heroLogo {
    height: 40px;
}

@media only screen and (max-width:768px) {
    .heroLogo {
    height: 30px;
}
}



.heroBannerBgs {
    min-height: calc(100vh - 210px);
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
    
}

@media screen and (max-width: 768px) {
    .heroBannerBgsLeft, .heroBannerBgsRight {
        min-height: 360px;
    }
    .heroBannerBgLeft img {
        width: 72%;
    }
    .heroBannerBgRight img {
        width: 65%;
    }
}

.circle {
    border-radius: 100%;
    height: 300px;
    width: 100%;
}

/*CTA*/
.ctaWrapper, .testiWrapper {
    padding: 120px 0;
}

@media only screen and (max-width: 768px) {
    .ctaWrapper, .testiWrapper {
        padding: 60px 0;
    }
}

.testiWrapper {
    display: flex!important;
}


.testiWrapper p {
    @apply w-2/3 my-4;

    text-align: center;
    font-size: 23px
}

.testiItem {
    display: flex!important;
}


/* FOOTER */
.footer {
    /* margin-top: 120px; */
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 14rem;
    padding-right: 14rem;
}

@media only screen and (max-width: 768px) {
    .footer {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 0;
    }
}

/*HERO BANNER*/
.textBanner{
    height: 204px;
}

/*GET A QUOTE*/
.getAQuoteFormWrapper {
    padding: 60px 120px;
    border-radius: 6px;
}

.thankYouMsgWrapper {
    border-radius: 6px;
    background-color: #fff2ec;
    padding: 40px;
}


@media only screen and (max-width: 1280px) {
    .getAQuoteFormWrapper {
        padding: 60px 20px;
    }
}


.getAQuoteForm input, textarea {
    padding: 18px 20px 8px 20px;
    border-radius: 6px;
    margin-top: 30px;
    border:1px solid transparent;
}

.getAQuoteForm input:focus {
    outline: none !important;
    border:1px solid #CCD4DE;
    box-shadow: 0 0 3px #FFF;
}

/* Only show invalid ring while not focused */
input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #FF8143;
}
.error-message {
    display: none;
}
input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block;	
}

/* Only show valid ring while not focused and if a value is entered */
/* :empty won't work here as that targets elements that have no childeren. Therefore we abuse :placeholder-shown */
input:not(:focus):not(:placeholder-shown):valid {
  border-color: none;
}


.getAQuoteForm label {
    top: 58%;
    left: 20px;
    font-size:17px;
    color: #002959;
}

.formMessage {
    top: 16%!important;
}


.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-2 z-0 uppercase text-fadeOrange text-3xs;
}

.outline textarea:focus-within ~ label,
.outline textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-1 z-0 uppercase text-fadeOrange text-3xs;
}


.getAQuoteForm textarea:focus {
    outline: none !important;
    border:1px solid #FF8143;
    box-shadow: 0 0 2px #FFF;
}

.getAQuoteForm span {
    color: #FF8143;
    padding-left: 20px;
    top: 45%;
    font-size: 0.563rem;
    text-transform: uppercase;
    line-height: 9px;
    z-index:100;
}

.getAQuoteForm .formTextArea span {
    color: #FF8143;
    padding-left: 20px;
    top: 13%!important;
    font-size: 0.563rem;
    text-transform: uppercase;
    line-height: 9px;
    z-index:100;
}



/*2 Col Card */
.twoColCard{
    /* padding: 30px 60px; */
}

/*3 Col Card */
.threeColCard{
    @apply w-full lg:w-1/3;
    padding: 30px 60px;
}


/*BROWSE RANGE*/
.cardImage {
    @apply justify-center w-full mb-0 md:mb-4 flex items-start h-2/3 overflow-hidden;
}



.genderWrapper {
    width: calc(50% - 20px);
    
}

.cardImageWrapper {
    height: 400px!important;
}

@media only screen and (max-width:563px) {
    .cardImageWrapper {
        height: 200px!important;
    }
}

@media only screen and (min-width:768px) {
    .genderWrapper {
        width: calc(33.33% - 20px);
    }
}
@media only screen and (min-width:1024px) {
    .genderWrapper {
        width: calc(25% - 20px);
    }
}
.schoolWrapper {
    width: calc(50% - 20px);
}

@media only screen and (min-width:768px) {
    .schoolWrapper {
        width: calc(33.33% - 20px);
    }
}
@media only screen and (min-width:1024px) {
    .schoolWrapper {
        width: calc(25% - 20px);
    }
}
@media only screen and (min-width:1162px) {
    .schoolWrapper {
        width: calc(20% - 20px);
    }
}


.fourColCard {
    width: 309px;
    @apply flex w-1/2 md:w-1/4 px-2.5;
}

.fourColCardInner{
    /* height: 400px; */
    width: 100%;
    padding: 30px
}

/*UNIFORMS*/
.uniformBanner {
    height: 125px;
}

/* @media only screen and (min-width:768px) {
    .uniformsTab3Header {
        margin-left: 0!important;
    }
}

.uniformsTab3Header {
    margin-left: 29px;
} */

.letterCircle {
    @apply flex justify-center items-center p-4 rounded-full border hover:bg-white  cursor-pointer
    transition-all duration-300 ease-in-out;
    width: 40px;
    height: 40px;
}

@media only screen and (max-width:768px) {
    .letterCircle {
        width: 80px;
        height: 80px;
    }
}


.fiveColCard {
    width: 243px;
    @apply flex w-1/2 md:w-1/5 px-2.5;
}

.fiveColCardInner{
    max-height: 400px;
    width: 100%;
    padding: 30px
}

.selectSizeWrapper {
    border-radius: 6px;
}

.selectBoxWrapper {
    border-radius: 6px;
}

.selectBox {
    width: 100%;
    border-radius: 6px;
    padding: 18px 20px;
}

.cantFindSchool {
    max-width: 800px;
}

.cantFindSchoolInner {
    padding: 60px 80px;
}



/*SNIPCART SHOPPING CART STYLING*/ 
#snipcart {
    position: absolute;
    z-index: 9999!important;
}

.snipcart__font--secondary, .snipcart__font--subtitle, .snipcart__font--subtitle-small {
    font-family: 'neuzeit-grotesk'!important;
}

.snipcart-button-secondary {
    color: white!important;
    background-color: #FF8143!important;
}

.snipcart-base-button__label {
    font-weight: bold!important;
}

.snipcart-cart-header__options button {
    display: none;
}

.snipcart-cart__secondary-header {
    background: #002959!important;
}

.snipcart-button-primary {
    background: #FF8143!important;
}

.snipcart-button-link {
    color: black!important;
}

.snipcart-base-button__label {
    flex-grow: 0!important;
}

.snipcart-summary-fees__notice {
margin-top: 34px!important;
margin-bottom: 20px!important;
font-size: 12px!important;
display: flex!important;
justify-content: flex-end!important;
}

.snipcart-base-button__wrapper {
display: flex!important;
align-items: center!important;
justify-content: space-between!important;
}

.snipcart-base-button.is-icon-right .snipcart-base-button__label {
margin-left: -10px!important;
color: black!important;
}

.snipcart__icon {
color: black!important;
}

.snipcart-summary-fees__item {
padding: 0!important;
display: flex!important;
justify-content: flex-end!important;
font-weight: 700!important;
}

.snipcart-summary-fees__amount {
margin-left: 10px!important;
}

.snipcart-item-line__media {
width: 120px!important;
height: 120px!important;
}

.snipcart-item-line--cart-edit .snipcart-item-line__image {
max-width: 120px!important; 
}

.snipcart-item-quantity__label {
display: none!important;
}

.snipcart-item-line__header {
position: relative!important;
}

.snipcart-button-icon.is-danger {
position: absolute!important;
top: 0;
right: 0;
}

.snipcart-button-icon.is-danger {
background-color: #FFF!important;
}

.snipcart-button-icon.is-secondary {
background-color: #fff!important;
}


.snipcart-item-quantity__quantity {
border: 2px solid!important;
border-color: #000!important;
}

.snipcart-cart--edit .snipcart-item-list {
display: flex!important;
flex-direction: column!important;
align-items: center!important;
}

.snipcart-item-line--cart-edit {
border-bottom: 2px solid!important;
border-color: #000!important;
width: 90%!important;
}

.snipcart-cart-summary-side .snipcart-cart__content .snipcart-item-list .snipcart-item-line .snipcart-item-line__container {
padding: 32px 0!important;
}

.snipcart-item-line__container {
margin: 0px 0 -17px 0!important;
}

/* .snipcart-item-quantity__quantity:focus-within {
box-shadow: 0 5px 10px -3px rgb(0 105 55 / 32%)!important;
}


.snipcart-cart-summary--edit.snipcart-modal__container {
-webkit-box-shadow: 71px 0px 21px 17px rgb(0 0 0 / 97%)!important;
box-shadow: -18px 0px 101px -44px rgb(0 0 0 / 97%)!important;
} */

.snipcart-item-line--cart-edit .snipcart-item-line__image {
object-fit: cover!important;
height: 100%!important;
}

/* .snipcart-modal__container {
width: 50%!important;
right: 0!important; 
left: unset!important;
box-shadow: -18px 0px 101px -44px rgb(0 0 0 / 97%)!important;
} */

.snipcart-cart-header {
padding: 32px 32px!important;
width: 100%!important;
background: #002959!important;
}

.snipcart-layout__header {
width: 100%!important;
max-width: unset!important;
}

.snipcart-signin__register-link {
color: #002959!important;
}

.snipcart-register__register-link {
color: #002959!important;
}

.snipcart-signin__forgot-password {
color: #002959!important;
}

.snipcart-modal__close:focus {
outline: none!important;
}

.snipcart-layout-sidebar__container {
display: flex!important;
}

.snipcart-modal__close-title {
font-weight: 500!important;
}

.snipcart-cart-header__sign-out {
font-weight: 500!important;
}

.snipcart-cart__secondary-header-title {
color: white!important;
}

.snipcart-base-button.is-icon-right .snipcart-base-button__label {
color: white!important;
}

.snipcart-cart-header {
color: white!important;
}

.snipcart-cart-header__close-button {
color: white!important;
}

.snipcart-cart-header .snipcart-modal__close-icon, .snipcart-cart-header__icon {
color: white!important;
}

.snipcart__icon {
color: white!important;
}

.snipcart-item-quantity__quantity .snipcart__icon {
color: #000!important;
}

.snipcart-button-icon.is-danger .snipcart__icon {
color: #000!important;
}

.snipcart-cart-header__icon path {
fill: white!important;
}

.general_content{
    p{ 
        @apply mb-10;
        
    }
    p:first-of-type {
        @apply text-smallerTitle text-primary;
    }
    h2{
        @apply mb-10 mt-2;
    }
    h3{
        @apply mb-10 ;
    }
    ul{
        @apply ml-4 mb-10  list-disc;
        li{
            @apply text-base;
            p{
                @apply mb-3; 
                font-size: 1rem !important;
            }
        } 
    }

    
}






@tailwind utilities;
