<!--SCHOOL UNIFORMS TAB 1-->

<div class="bg-warmGrey md:pb-16 overflow-x-hidden">

  <!--UNIFORM SECTION-->
  <section class="flex justify-center items-center h-full">
    <div x-data="{ tab: '1' }">
      <div class="flex bg-primary w-screen">

        <div class="innerWidth uniformBanner flex justify-around w-full text-darkGrey">
          <a x-on:click="tab = '1'"
            class="text-smallerTitle flex flex-col gap-y-2 justify-center items-center font-bold relative w-full px-2"
            x-bind:class="{ 'text-white border-white': tab === '1' }">
            
            <small class="text-xxs font-normal md:text-3xs" :class="{ 'text-white" }>Step 1</small>
            Select School
            <small onclick="history.go(+1); return false;" class="text-white md:text-3xs absolute right-0 text-smallerTitle">
              <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" fill="white"/>
                </svg>
            </small>
          </a>

          <a disabled
            class="cursor-not-allowed text-smallerTitle hidden md:flex flex-col gap-y-2 justify-center items-center font-bold relative w-full px-2"
            x-bind:class="{ 'text-white border-white': tab === '2' }">
            <small class="text-xxs font-normal md:text-3xs" :class="{ 'text-white" }>Step 2</small>
            Select Item
            <small class="text-white text-3xs absolute right-0">
              <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" fill="white"/>
                </svg>
            </small>
          </a>

          <a disabled
            class="cursor-not-allowed text-smallerTitle hidden md:flex flex-col gap-y-2 justify-center items-center font-bold relative w-full px-2"
            x-bind:class="{ 'text-white border-white': tab === '3' }">
            <small class="text-xxs font-normal md:text-3xs" :class="{ 'text-white" }>Step 3</small>
            Select Options
            
          </a>
        </div>

      </div>

      <ul class="innerWidthSchoolUniforms mt-16 md:pb-16">

        <!--TAB 1-->
        <div class="w-full" x-show="tab === '1'">

          <div class="errorMsg hidden w-full justify-center">
            <h4>No schools found...</h4>
          </div>

          
          <!--SELECT SCHOOL TOP SECTION-->
          <div class="flex md:w-auto flex-col xl:flex-row md:justify-around">
              
            


            <!--SCHOOL SEARCH BAR-->
            <div class="container pt-8 mx-auto" x-data="loadSchool()">
              <div class="w-full flex flex-col items-center lg:flex-row justify-center mb-12">
                <div class="schoolTypeBtnsWrapper w-min-max flex flex-wrap h-full justify-center lg:flex gap-2 mb-8 xl:mb-0 w-screen md:w-auto lg:mr-10">
                  <button id="showAllSchools" class="btn bg-fadeOrange ">Show all</button>
                  <button id="showPreSchools" class="btn btnUnselected ">Pre-school</button>
                  <button id="showPrimarySchools" class="btn btnUnselected ">Primary</button>
                  <button id="showSecondarySchools" class="btn btnUnselected ">Secondary</button>
                </div>


                <div class="flex justify-center  w-full sm:w-min relative schoolSearchWrapper mb-8 xl:mb-0">
                  <svg width="15" height="16" viewBox="0 0 15 16" fill="none" class="absolute left-4 top-3" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.28164 1C2.8199 1 0 3.8199 0 7.28165C0 10.7434 2.8199 13.5688 6.28164 13.5688C7.76025 13.5688 9.12012 13.0506 10.1949 12.1902L12.8114 14.8054C12.9435 14.932 13.1198 15.0018 13.3027 15C13.4856 14.9981 13.6605 14.9247 13.79 14.7954C13.9194 14.6662 13.9931 14.4914 13.9952 14.3085C13.9973 14.1256 13.9277 13.9492 13.8013 13.8169L11.1848 11.2004C12.0458 10.124 12.5646 8.76197 12.5646 7.28165C12.5646 3.8199 9.74338 1 6.28164 1ZM6.28164 2.39624C8.9888 2.39624 11.1671 4.57449 11.1671 7.28165C11.1671 9.98881 8.9888 12.1725 6.28164 12.1725C3.57448 12.1725 1.39622 9.98881 1.39622 7.28165C1.39622 4.57449 3.57448 2.39624 6.28164 2.39624Z" fill="#002959"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 7.28165C0 3.68182 2.93183 0.75 6.53164 0.75C10.1314 0.75 13.0646 3.68175 13.0646 7.28165C13.0646 8.74115 12.5796 10.0899 11.7671 11.1791L14.2321 13.6441C14.4036 13.8236 14.4981 14.0632 14.4952 14.3114C14.4923 14.5597 14.3923 14.7969 14.2166 14.9723C14.0409 15.1478 13.8035 15.2474 13.5553 15.2499C13.307 15.2525 13.0677 15.1577 12.8884 14.9859L12.8847 14.9823L10.4237 12.5226C9.33612 13.3344 7.98944 13.8188 6.53164 13.8188C2.93155 13.8188 0 10.8812 0 7.28165ZM6.53164 1.25C3.20797 1.25 0.5 3.95797 0.5 7.28165C0.5 10.6056 3.20826 13.3188 6.53164 13.3188C7.95075 13.3188 9.25606 12.8217 10.2886 11.9951L10.4633 11.8552L13.2361 14.6266C13.3208 14.7069 13.4334 14.7512 13.5502 14.75C13.6677 14.7488 13.7801 14.7016 13.8633 14.6185C13.9465 14.5355 13.9938 14.4232 13.9952 14.3056C13.9966 14.1889 13.9525 14.0763 13.8723 13.9915L11.0998 11.219L11.2396 11.0442C12.0669 10.01 12.5646 8.70248 12.5646 7.28165C12.5646 3.95804 9.85538 1.25 6.53164 1.25ZM6.53164 2.64624C3.96255 2.64624 1.89622 4.71256 1.89622 7.28165C1.89622 9.8511 3.96291 11.9225 6.53164 11.9225C9.10037 11.9225 11.1671 9.8511 11.1671 7.28165C11.1671 4.71256 9.10073 2.64624 6.53164 2.64624ZM1.39622 7.28165C1.39622 4.43642 3.68641 2.14624 6.53164 2.14624C9.37687 2.14624 11.6671 4.43642 11.6671 7.28165C11.6671 10.1265 9.37724 12.4225 6.53164 12.4225C3.68604 12.4225 1.39622 10.1265 1.39622 7.28165Z" fill="#002959"/>
                    </svg>
                  <input
                    x-ref="searchField"
                    x-model="search"
                    x-on:keydown.window.prevent.slash="$refs.searchField.focus()"
                    placeholder="Search..."
                    type="search"
                    class="schoolSearch block w-5/12 bg-white focus:outline-none border border-transparent focus:border-borderGrey text-primary rounded-lg pl-10 pr-4 py-3 placeholder-primary"
                  />
                </div>
              </div>

              <div class="mt-4 grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4">

                <template id="template" x-for="item in filteredSchools" :key={{ item }}>
                  <div
                    class="flex items-stretch h-full  transition-all duration-300 ease-in-out" x-bind:class="item.school_type">
                    
                    <div class="h-full hover:shadow-card w-full">
                      <a x-bind:href="item.school_url"
                        class="h-full"
                        >
                        <div class="rounded h-full px-3.5 fiveColCardInner text-center bg-white overflow-hidden">
                          <div class="flex flex-col items-center gap-y-6 md:gap-y-0 h-full">
                      
                            <div class="cardImage">
                              <img width="240px" height="249px" :src="item.school_logo" class="object-cover" alt="">
                            </div>

                      
                            <div class="flex flex-col flex-1 gap-y-2 justify-start mt-6">
                              <span x-text="item.school_name" class="font-bold text-xxs schoolName"></span>
                              <span x-text="item.school_location" class="2xs text-mediumGrey"></span>
                            </div>
                      
                          </div>
                      
                        </div>
                      
                      </a>
                    </div>
                  </div>

                </template>
              </div>
            </div>

            <!--SCHOOL LETTERS HIDDEN FOR NOW-->
            <div class="hidden md:ml-8 overflow-scroll">
              <ul class="flex font-semibold md:flex-wrap md:justify-center gap-1">
                <li class="letterCircle">A</li>
                <li class="letterCircle">B</li>
                <li class="letterCircle">C</li>
                <li class="letterCircle">D</li>
                <li class="letterCircle">E</li>
                <li class="letterCircle">F</li>
                <li class="letterCircle">G</li>
                <li class="letterCircle">H</li>
                <li class="letterCircle">I</li>
                <li class="letterCircle">J</li>
                <li class="letterCircle">K</li>
                <li class="letterCircle">L</li>
                <li class="letterCircle">M</li>
                <li class="letterCircle">N</li>
                <li class="letterCircle">O</li>
                <li class="letterCircle">P</li>
                <li class="letterCircle">Q</li>
                <li class="letterCircle">R</li>
                <li class="letterCircle">S</li>
                <li class="letterCircle">T</li>
                <li class="letterCircle">U</li>
                <li class="letterCircle">V</li>
                <li class="letterCircle">W</li>
                <li class="letterCircle">X</li>
                <li class="letterCircle">Y</li>
                <li class="letterCircle mr-8 md:mr-0">Z</li>
              </ul>
            </div>

          </div>
          <!--SELECT SCHOOL TOP SECTION-->

          <!--CAN'T FIND SCHOOL-->
          <section class=" bg-white -ml-6 md:ml-0 -mr-6 md:mr-0 md:bg-transparent md:w-auto mt-20">

            <div class="md:p-10 flex justify-center">

              <!--Card 1-->
              <div class="cantFindSchool rounded md:mx-32 twoColCard text-center bg-white overflow-hidden p-6">
                <div class="cantFindSchoolInner flex flex-col items-center">
                  <h2 class="font-bold mb-4">Can't find your School?</h2>
                  <p class="mb-4">
                    If you wish to be able to purchase your school uniform from Uniform Direct, either online or at
                    your local Uniform Direct store, then please let us know!
                  </p>
                  <a href="/contact"><button class="btn bg-fadeOrange">Get in touch</button></a>
                </div>
              </div>

            </div>

          </section>
          <!--END OF // CAN'T FIND SCHOOL-->

        </div>
        <!--END OF // TAB 1-->


      </ul>
    </div>
  </section>
  <!--END OF // UNIFORM SECTION-->


</div>



<script>




  function loadSchool() {
    return {
      search: "",
      myForData: schoolData,
      get filteredSchools() {
        
        if (this.search === "") {
          $(".errorMsg").addClass("hidden");
          return this.myForData;
        }


        return this.myForData.filter((item) => {


          if ( $(".schoolName").length === 0 ) {
            $(".errorMsg").removeClass("hidden").addClass("flex");
          } else {
            $(".errorMsg").addClass("hidden").removeClass("flex");
          }

          return item.school_name
            .toLowerCase()
            .includes(this.search.toLowerCase());
        });

       

      
      },
    };
  }

//DON'T WORRY ABOUT THE SYNTAX HIGHLIGHTING - JS CAN'T READ ANTLERS//
  var schoolData = [
    {{ collection:schools }}
    {
      id: "{{ id }}",
      school_name: "{{ title }}",
      school_type: "{{ school_type }}",
      school_location: "{{ school_location }}",
      school_logo: "{{ school_logo }}",
      school_url: "{{ slug }}",
    },
    {{ /collection:schools }}

  ];





  $("#showAllSchools").click(function() {
    $("#showAllSchools").addClass("bg-fadeOrange").removeClass('btnUnselected');
    $("#showPrimarySchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showSecondarySchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showPreSchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    
    $(".pre-school").removeClass("hidden");
    $(".primary").removeClass("hidden");
    $(".secondary").removeClass("hidden");
  });

  $("#showPreSchools").click(function() {
    $("#showAllSchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showPrimarySchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showSecondarySchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showPreSchools").addClass("bg-fadeOrange").removeClass('btnUnselected');
    
    $(".pre-school").removeClass("hidden");
    $(".primary").addClass("hidden");
    $(".secondary").addClass("hidden");
  });

  $("#showPrimarySchools").click(function() {
    $("#showAllSchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showPrimarySchools").addClass("bg-fadeOrange").removeClass('btnUnselected');
    $("#showSecondarySchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showPreSchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    
    $(".pre-school").addClass("hidden");
    $(".primary").removeClass("hidden");
    $(".secondary").addClass("hidden");
  });

  $("#showSecondarySchools").click(function() {
    $("#showAllSchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showPrimarySchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showSecondarySchools").addClass("bg-fadeOrange").removeClass('btnUnselected');
    $("#showPreSchools").removeClass("bg-fadeOrange").addClass('btnUnselected');
    
    $(".pre-school").addClass("hidden");
    $(".primary").addClass("hidden");
    $(".secondary").removeClass("hidden");
  });

</script>


