<!--SCHOOL UNIFORMS TAB 2-->

<div class="bg-warmGrey md:pb-16">

  <!--UNIFORM SECTION-->
  <section class="flex justify-center items-center  h-full">
    <div x-data="{ tab: '2' }">
      <div class="flex bg-primary w-screen">

        <div class="innerWidth uniformBanner flex justify-around w-full text-darkGrey">
          <a href="/school-uniforms"
            class="cursor-pointer text-smallerTitle hidden md:flex flex-col gap-y-2 justify-center items-center font-bold relative w-full px-2"
            x-bind:class="{ 'text-white border-white': tab === '1' }">
            <small class="text-white block md:hidden md:text-3xs absolute left-0 text-smallerTitle opacity-30">
              <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" fill="white"/>
                </svg>
            </small>
            <small class="text-xxs font-normal md:text-3xs" :class="{ 'text-white" }>Step 1</small>
            Select School
            <small class="text-white md:text-3xs absolute right-0 text-smallerTitle">
              <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" fill="white"/>
              </svg>
            </small>
          </a>

          <a 
            class="text-smallerTitle flex flex-col gap-y-2 justify-center items-center font-bold relative w-full px-2"
            x-bind:class="{ 'text-white border-white': tab === '2' }">
            <small onclick="history.go(-1); return false;" class="text-white block md:hidden md:text-3xs absolute left-0 text-smallerTitle md:opacity-30 transform rotate-180 md:rotate-0">
              <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" fill="white"/>
                </svg>
            </small>
            <small class="text-xxs font-normal md:text-3xs" :class="{ 'text-white" }>Step 2</small>
            Select Item
            <small onclick="history.go(+1); return false;" class="text-white md:text-3xs text-smallerTitle absolute right-0">
              <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" fill="white"/>
                </svg>
            </small>
          </a>

          <a disabled
            class="cursor-not-allowed text-smallerTitle hidden md:flex flex-col gap-y-2 justify-center items-center font-bold relative w-full px-2"
            x-bind:class="{ 'text-white border-white': tab === '3' }">
            <small class="text-xxs font-normal md:text-3xs" :class="{ 'text-white" }>Step 3</small>
            Select Options
            
          </a>
        </div>

      </div>
      <div class="flex w-full justify-center mt-16">
        <h2>{{title}}</h2>
      </div>
   

      <div class="innerWidthSchoolUniforms md:py-16">

        <div x-show="tab === '2'">
          <div class="w-full flex justify-center">
            <div class="w-min-max h-full lg:flex gap-2">
              <button id="showAll" class="btn bg-fadeOrange ">Show all</button>
              <button id="showBoys" class="btn border-2 btnUnselected">Boys</button>
              <button id="showGirls" class="btn border-2 btnUnselected">Girls</button>
            </div>
          </div>



        </div>
  

      </div>
    </div>
  </section>
  <!--END OF // UNIFORM SECTION-->
  <section class="max-w-screen-2xl  m-auto">   
    <div class=" flex flex-col justify-center items-stretch">
      <div class="flex w-full flex-wrap -mx-4">
        {{ products }}

        <a href="{{ url }}?school={{ page:slug }}" class=" group w-full md:w-1/2 lg:w-1/3 xl:w-1/4 h-full px-4 {{ if gender == "both" }}girls boys{{ elseif gender == "girl" }}girls{{ elseif gender == "boy" }}boys{{/if}}">
          <div
              class="rounded m-4 fiveColCardInner text-center bg-white overflow-hidden group-hover:shadow-card group-hover:scale-95 transition h-full ">
              <div class="cardImageWrapper flex flex-col gap-y-4 md:gap-y-0 h-full items-center ">
      
                  <div style="background-image: url('{{ product_images:0 }}'); background-size:contain; max-height: 300px; background-position:center; background-repeat: no-repeat;"
                      class="cardImage">
      
                  </div>
      
                  <div class="flex flex-col gap-y-2 justify-start">
                      <span class="font-bold text-xxs">
                          {{ title }} -- {{gender}}
                      </span>
                      {{ if has_variants }}
                      {{ variants limit="1" }}
                      {{ if price }}
                      <span class="2xs">From £{{ price }}</span>
                      {{ /if }}
                      {{ /variants }}
                      {{ elseif product_price }}
                      <span class="2xs">£{{ product_price }}</span>
                      {{ /if }}
                  </div>
      
              </div>
          </div>
      </a>


        {{ /products }}

      </div>
   
 
    </div>
</section>

</div>

<script>

  

  $("#showBoys").click(function() {
    console.log("showBoys");
    $("#showGirls").removeClass("bg-fadeOrange").addClass('btnUnselected');;
    $("#showAll").removeClass("bg-fadeOrange").addClass('btnUnselected');;
    $("#showBoys").addClass("bg-fadeOrange").removeClass('btnUnselected');
    $(".girls").addClass("hidden");
    $(".boys").removeClass("hidden");
  });

  $("#showGirls").click(function() {
    console.log("showGirls");
    $("#showBoys").removeClass("bg-fadeOrange").addClass('btnUnselected');
    $("#showAll").removeClass("bg-fadeOrange").addClass('btnUnselected');;
    $("#showGirls").addClass("bg-fadeOrange").removeClass('btnUnselected');
    $(".boys").addClass("hidden");
    $(".girls").removeClass("hidden");
  });

  $("#showAll").click(function() {
    console.log("showAll");
    $("#showBoys").removeClass("bg-fadeOrange").addClass('btnUnselected');;
    $("#showGirls").removeClass("bg-fadeOrange").addClass('btnUnselected');;
    $("#showAll").addClass("bg-fadeOrange").removeClass('btnUnselected');
    $(".boys").removeClass("hidden");
    $(".girls").removeClass("hidden");
  });
</script>
