<!--SCHOOL UNIFORMS TAB 3-->

<div class="bg-warmGrey md:pb-16 overflow-x-hidden">

  <!--UNIFORM SECTION-->
  <section class="flex justify-center items-center  h-full">
    <div x-data="{ tab: '3' }">

      {{ if get:school }}
      <div class="flex bg-primary w-screen uniformsTab3Header">

        <div class="innerWidth uniformBanner flex justify-around w-full text-darkGrey">
          <a href="/school-uniforms"
            class="text-smallerTitle hidden md:flex flex-col gap-y-2 justify-center items-center font-bold relative w-full px-2">
            <small class="text-white block md:hidden md:text-3xs absolute left-0 text-smallerTitle opacity-30"><</small>
            <small class="text-xxs font-normal md:text-3xs" :class="{ 'text-white" }>Step 1</small>
            Select School
            <small class="text-white md:text-3xs absolute right-0 text-smallerTitle">
              <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" fill="white"/>
                </svg>
            </small>
          </a>

          <a onclick="history.go(-1);"
            class="cursor-pointer text-smallerTitle hidden md:flex flex-col gap-y-2 justify-center items-center font-bold relative w-full px-2"
            x-bind:class="{ 'text-white border-white': tab === '2' }">
            <small class="text-xxs font-normal md:text-3xs" :class="{ 'text-white" }>Step 2</small>
            Select Item
            <small class="text-white text-3xs absolute right-0">
              <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" fill="white"/>
                </svg>
            </small>
          </a>

          <a disabled
            class="text-smallerTitle flex flex-col gap-y-2 justify-center items-center font-bold relative w-full px-2"
            x-bind:class="{ 'text-white border-white': tab === '3' }">
            <small onclick="history.go(-1); return false;" class="text-white block md:hidden md:text-3xs absolute left-0 text-smallerTitle transform rotate-180">
              <svg width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.554631 0.96967C0.847524 0.676777 1.3224 0.676777 1.61529 0.96967L5.61529 4.96967C5.90818 5.26256 5.90818 5.73744 5.61529 6.03033L1.61529 10.0303C1.3224 10.3232 0.847524 10.3232 0.554631 10.0303C0.261738 9.73744 0.261738 9.26256 0.554631 8.96967L4.0243 5.5L0.554631 2.03033C0.261738 1.73744 0.261738 1.26256 0.554631 0.96967Z" fill="white"/>
                </svg>
            </small>
            <small class="text-xxs font-normal md:text-3xs" :class="{ 'text-white" }>Step 3</small>
            Select Options
          </a>
        </div>

      </div>
      {{ /if }}



      <ul class="innerWidthSchoolUniforms mt-16 md:py-16">


        <!--TAB 3-->
        <div x-show="tab === '3'"
          
          class="bg-white">

          <div style="width: 120%!important; margin-left: -10%; margin-bottom: -127px;" class="flex flex-col md:flex-row w-full bg-white pb-16 lg:-mt-32 schoolUniFinalStep">

            <div class=" md:w-1/2 p-12">
              <div class="flex justify-center">
                {{ product_images }}
                <img width="581px" src="{{ url }}" alt="">
                {{ /product_images }}
              </div>
            </div>

            <div class="md:w-1/2 py-12 pl-16 ml-6 md:ml-0 md:pl-12 pr-20">
              <div class="">
                {{if get:school}}
                <p class="text-3xs text-mediumGrey">

                  {{ collection:schools :slug:is="get:school"}}
                    {{ title }}
                  {{ /collection:schools }}
                  </p>
                  {{ /if }}
                <div class="flex flex-col gap-y-10">
                  <h2>{{ title }}</h2>
                  <p>{{ product_description }}</p>
                  {{ if has_variants }}
                  <p id="variantPrice" class="text-lg font-bold">£{{ product_price }}</p>
                  {{ else }}
                  <p class="text-lg font-bold">{{ if product_price  }}£{{ product_price }}{{ else }}Please contact us about this product's availability{{ /if }}</p>
                  {{ /if }}


                  <!--SELECT SIZE AND QTY-->
                  {{ if product_price || has_variants }}
                  <div class="selectSizeWrapper bg-warmGrey p-6 flex items-center">

                    <div class="w-full flex-col md:flex-row flex justify-between gap-y-6  md:gap-x-4">
                      
                      {{ if has_variants }}
                      <div class="w-full bg-white pr-4 selectBoxWrapper">
                        <select id="variantSelect" class="selectBox">
                          {{ variants }}
                          <option selected value="{{ price }}" data-title="{{ title }}">{{ title }}</option>
                          {{ /variants }}
                        </select>                        
                      </div>
                      {{ /if }}

                      <div class="w-full bg-white pr-4 selectBoxWrapper">
                        <select id="qtySelect" name="size" class="selectBox">
                          <option disabled >Quantity</option>
                          <option selected value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                        </select>
                      </div>
                      <button id="addToCartBtn" class="btn bg-fadeOrange snipcart-add-item"
                      data-item-id="{{ slug }}" data-item-price="{{ product_price }}" data-item-url="https://jnrclothing.com/all-products"
                      data-item-description="" data-item-name="{{ title }}" data-item-quantity="1" data-item-stackable="never">
                        Add to Cart
                      </button>
                    </div>

                  </div>
                  {{ else }}
                  <!--PRODUCT FORM-->
                  <div class="">{{ partial:components/productForm }}</div>
                  <!--END OF // PRODUCT FORM-->
                  {{ /if }}
                  
                  <!--END OF // SELECT SIZE AND QTY-->

                  <!--SIZE GUIDE HIDDEN FOR NOW-->
                  <p class="hidden text-lg font-bold flex items-center justify-center md:justify-start group">
                    <span class="mr-2">
                      <svg width="16" height="16" viewBox="0 0 16 16" class="fill-current text-primary transition group-hover:text-fadeOrange"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M15.5655 4.79655L4.79645 15.5656C4.21842 16.1443 3.27595 16.1453 2.69636 15.5656L0.434942 13.3042C-0.144981 12.7243 -0.144981 11.7841 0.434942 11.2041L1.0809 10.5582C1.18504 10.454 1.35388 10.454 1.45805 10.5582L2.44619 11.5463C2.54946 11.6496 2.71906 11.66 2.82537 11.5599C2.93537 11.4564 2.93734 11.2832 2.83124 11.1771L1.8352 10.1811C1.73106 10.0769 1.73106 9.90804 1.8352 9.80391L3.26165 8.37745C3.36579 8.27331 3.53466 8.27331 3.6388 8.37745L5.17329 9.91195C5.22536 9.96405 5.2936 9.99005 5.36187 9.99005C5.59724 9.99005 5.71898 9.7033 5.55044 9.5348L4.01595 8.0003C3.91181 7.89617 3.91181 7.72729 4.01595 7.62316L5.4424 6.1967C5.54654 6.09256 5.71538 6.09256 5.81955 6.1967L6.81559 7.19274C6.86766 7.24481 6.9359 7.27084 7.00417 7.27084C7.23954 7.27084 7.36128 6.9841 7.19274 6.81559L6.1967 5.81955C6.09256 5.71541 6.09256 5.54654 6.1967 5.4424L7.62316 4.01595C7.72729 3.91181 7.89613 3.91181 8.0003 4.01595L9.5348 5.55044C9.58687 5.60251 9.6551 5.62854 9.72337 5.62854C9.95875 5.62854 10.0805 5.3418 9.91195 5.17329L8.37745 3.6388C8.27331 3.53466 8.27331 3.36579 8.37745 3.26165L9.80391 1.8352C9.90804 1.73106 10.0769 1.73106 10.1811 1.8352L11.1771 2.83124C11.2292 2.8833 11.2974 2.90934 11.3657 2.90934C11.601 2.90934 11.7228 2.62259 11.5542 2.45409L10.5582 1.45805C10.4541 1.35391 10.4541 1.18504 10.5582 1.0809L11.2042 0.434942C11.7841 -0.144981 12.7243 -0.144981 13.3042 0.434942L15.5657 2.69636C16.1446 3.27549 16.1446 4.21752 15.5655 4.79655V4.79655Z"
                          />
                      </svg>
                    </span>
                    <a href="" class="sizeGuide">
                      <span class="">Size Guide</span>
                    </a>
                  </p>

                </div>
              </div>
            </div>
          </div>

        </div>
        <!--END OF // TAB 3-->


      </ul>
    </div>
  </section>
  <!--END OF // UNIFORM SECTION-->


</div>

<script>
 //**VARIANT PRODUCT*** ON CHANGING THE OPTION IN THE DROP DOWN MENU, SET THE SELECTED PRICE TO DISPLAY AND SEND THE NEW PRICE TO THE BUY NOW BUTTON



  var variantDefault = $("#variantSelect").val($("#variantSelect option:first").val());
  var variantVariant = $('#variantSelect').find(":selected").text();
  var variantDescriptionDefault = $('#variantSelect').find(":selected").attr('data-title');

  $('#variantPrice').html("£" + $(variantDefault).val());
  $('#addToCartBtn').attr('data-item-description', variantDescriptionDefault);
  $('#addToCartBtn').attr('data-item-price', $(variantDefault).val());
  

  
  $('#variantSelect').change(function () {
  $('#addToCartBtn').attr('data-item-price', $(this).val());
  $('#variantPrice').html("£" + $(this).val());

  var productVariant = $(this).find(":selected").text();
  $('#addToCartBtn').attr('data-item-description', productVariant);
});


  $('#qtySelect').change(function () {
    $('#addToCartBtn').attr('data-item-quantity', $(this).val());
  });
  $('#sizeSelect').change(function () {
    $('#addToCartBtn').attr('data-item-description', $(this).val());
  });
</script>